
<div class="container mt-5" style="max-width: 400px;">


  @if (success) {
    <div class="alert alert-success">
      ✅ Password reset successfully! Redirecting to login...
    </div>
  }

  @if (error) {
    <div class="alert alert-danger">{{ error }}</div>
  }


  @if (!success) {
    <div>
      <h3>Reset Password</h3>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <div class="mb-3">
          <label>New Password</label>
          <input formControlName="password" type="password" class="form-control" />

          @if (form.get('password')?.invalid && form.get('password')?.touched) {
            <small class="text-danger">
              Minimum 6 characters required
            </small>
          }
        </div>

        <div class="mb-3">
          <label>Confirm Password</label>
          <input formControlName="confirmPassword" type="password" class="form-control" />

          @if (form.errors?.['mismatch'] && form.get('confirmPassword')?.touched) {
            <small class="text-danger">
              Passwords do not match
            </small>
          }
        </div>

        <button type="submit" class="btn btn-success w-100" [disabled]="loading">
          {{ loading ? 'Resetting...' : 'Reset Password' }}
        </button>

      </form>
    </div>
  }

</div>
